.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(47 51 54);
  border-right: 1px solid rgb(47 51 54);
  header {
    position: sticky;
    top: 0;
    z-index: 99px;
    background-color: black;
    .navigation-name {
      font-size: 20px;
      font-weight: 500;
      border-bottom: 1px solid rgb(47 51 54);
    color: white;
      padding: 12px 12px;
    }
  }
  .user-card-img {
    height: 48px;
    width: 48px;
    border-radius: 99px;
    margin-right: 12px;
  }
  .tweet-box {
    display: flex;
    padding: 16px 12px;
    border-bottom: 1px solid rgb(47 51 54);
  }
}
