.post-list{
    padding: 12px 16px;
    display: flex;
    border-bottom: 1px solid rgb(47 51 54);
    cursor: pointer;
    transition: all 0.2s;
    .post-user-img{
        height: 44px;
        width: 44px;
        border-radius: 99px;
    }
    .flex-1{
      flex: 1;
   
    .post-user-info{
        display: flex;
        align-items: center;
        margin-left: 8px;
        .post-name{
            color: white;
            font-weight: 500;
            font-size: 15px;
        }
        .post-name:hover{
            text-decoration: underline;
           
           }
        .post-username{
            color: grey;
            font-size: 15px;
            margin-left: 4px;
        }

    }
    .post-content{
        margin-top: 4px;
        margin-left: 8px;
    }
    .post-img{
        margin: 8px 8px;
        border-radius: 20px;
        max-height: 384px;
        width: 100%;
    }
    .post-icons{
        margin: 8px 8px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        li{
            display: flex;
            
            align-items: center;
          
            cursor: pointer;
            .icon-color{
                fill: gray !important;
            }
            .icon-color:hover{
                fill: red !important;
            }
          span{
              margin-left: 12px;
              font-size: 13px;
              color: gray;
          }
        }
       
     
    }
}
}
.post-list:hover{
    background-color: rgba(255,255,255,0.03);
}
.link-color{
    color: white;
}