.user-card {
    padding: 12px 16px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 30%;
    .user-info {
      display: flex;

      .user-card-img {
        height: 48px;
        width: 48px;
        border-radius: 99px;
      }
      .user-name {
        margin-left: 5px;
        .name {
          font-size: 15px;
          font-weight: 500;
        }
        .username {
          font-size: 15px;
          color: #71767b;
          margin-top: 2px;
        }
      }
    }
    .follow-btn {
      background-color: #eff3f4;
      font-size: 14px;
      color: black;
      padding: 0 16px;
      border-radius: 999px;
      font-weight: 600;
      height: 40px;
      width: 95px;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      cursor: pointer;
    }
    .follow-btn:hover {
      background-color: rgb(215, 219, 220);
    }
  }
  .message-card{
    display: flex;
    
    .message-container{
        height: 500px;
        border-left:1px solid rgb(47 51 54);
        border-bottom:1px solid rgb(47 51 54);
        width: 100%;
        padding: 15px;
        overflow: auto;

        .message-box{
            background-color: #71767b;
         
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
            margin-top: 12px;
            max-width: 90px;
            border-top-right-radius:12px ;
            border-bottom-right-radius:12px ;
        }
        .message-box-me{
            background-color: #1da1f2;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 90px;
            padding: 12px 16px;
            margin-top: 12px;
            border-top-left-radius:12px ;
            border-bottom-left-radius:12px ;
        }
        
    }
  }
  .message-write{
    margin-left: auto;
    input{
        width: 429px;
        background-color: transparent;
        color: white;
        padding: 10px;
        border: none;
        border:1px solid  rgb(47 51 54);
        outline:none
        
    }
  }