.notification-main {
  border-bottom: 1px solid rgb(51 54 57);
  width: 100%;
  cursor: pointer;
}
.notification-main:hover {
  background-color: rgba(255,255,255,0.03);
}
.notifi {
  display: flex;
  
  border-bottom: 1px solid rgb(51 54 57);
  padding: 10px;
  padding-left: 20px !important;
}
.notifi-img {
  height: 30px;
}
.notifi .notifi-info {
  font-size: 15px;
  margin-top: 10px;
  color: #e7e9ea;
}
.notifi .notifi-content {
  font-size: 15px;
  color: #71767b;
  padding-top: 8px;
}
.notifi .notifi-info span {
  color: #e7e9ea;
  font-weight: 600;
}
.notifi-icon {
  height: 30px;
}
