.color-icon{
    color: white !important;
    height: 27px;
    width: 27px;
}
.search-icon{
    color: red !important;
    height: 22px;
    width: 22px;
}
.post-iconss{
    height: 16px;
    width: 18px;
    color: red ;
}
.twit-icon{
height: 28px;
  
}
.like-icon{
    fill: gray;
    height: 16px;
    width: 18px;
}
.like-icon:hover{
    fill: purple;
}
.retweet-icon{
    fill: gray;
    height: 16px;
    width: 18px;
}
.retweet-icon:hover{
    fill: green;
}
.comment-icon{
    fill: gray;
    height: 16px;
    width: 18px;
}
.comment-icon:hover{
    fill: blue;
}
.upload-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #1DA1F2;
}