.color-icon{
    color: white !important;
    height: 27px;
    width: 27px;
}
.search-icon{
    color: red !important;
    height: 22px;
    width: 22px;
}
.post-iconss{
    height: 16px;
    width: 18px;
    color: red ;
}
.twit-icon{
height: 50px;
  
}
